$light:(
    primary-ant-color: #abcffe,  //un used here
    secondary-ant-color: #1677ff,  //un used here
    teritary-ant-color: #364d79, //un used here
    primary-bg-color: #fff,
    secondary-bg-color: #d5e8ff,
    tertiary-bg-color: #f0f0f0,
    primary-border-color: #ddd,
    box-shadow-color: #dddddd,
    primary-text-color: #000000E0,
    secondary-text-color: #57606a,
    scrollbar-bg-color: #ccc,
    scrollbar-color: #aaa,
    light-visibility: visible,
    dark-visibility: hidden,
);

$dark:(
    primary-color:#11aa86, //un used
    secondary-color:#05876d,  //un used
    teritary-color:#85debd, //un used
    primary-bg-color:#101614,
    secondary-bg-color:#11211e,
    tertiary-bg-color: #f0f0f0,
    primary-border-color:#11211e,
    box-shadow-color:#0e243b,
    primary-text-color:white,
    secondary-text-color:#8b949e,    
    scrollbar-bg-color: #211919,
    scrollbar-color: #1f1616,
    light-visibility: hidden,
    dark-visibility: visible,
);

$themes:(
    light: $light,
    dark: $dark,
)