$light:(
    primary-ant-color: #abcffe, //用于menu list等大组件
    secondary-ant-color: #1677ff, //用于switch button等小组件
    teritary-ant-color: #364d79,
    primary-bg-color: #fff,
    secondary-bg-color: #e8f2ff,
    primary-border-color: #ddd,
    box-shadow-color: #dddddd,
    primary-text-color: black,
    secondary-text-color: red,
    scrollbar-bg-color: #ccc,
    scrollbar-color: #aaa,
    light-visibility: visible,
    dark-visibility: hidden,
);

$dark:(
    primary-ant-color: #111d2c,
    secondary-ant-color: #111a2c,
    teritary-ant-color: #364d79,
    primary-bg-color: #11263e,
    secondary-bg-color: #172536,
    primary-border-color: #0d2035,
    box-shadow-color: #0e243b,
    primary-text-color: white,
    secondary-text-color: red,
    scrollbar-bg-color: #211919,
    scrollbar-color: #1f1616,
    light-visibility: hidden,
    dark-visibility: visible,
);

$themes:(
    light: $light,
    dark: $dark,
)