$light:(
    primary-color: #0a9172,
    secondary-color:#026b56,
    teritary-color:#85debd,
    primary-bg-color:#fff,
    secondary-bg-color: #EFF6F1,
    teritary-bg-color:#D8E9E1,
    primary-border-color: #ddd,
    primary-text-color: black,
    secondary-text-color:#57606a,
    teritary-text-color:#fff,
    box-shadow-color:#dddddd,
    scrollbar-bg-color: #eee,
    scrollbar-color:#bbb,
    light-visibility: visible,
    dark-visibility: hidden,
);

$dark:(
    primary-color:#11aa86,
    secondary-color:#05876d,
    teritary-color:#85debd,
    primary-bg-color:#101614,
    secondary-bg-color:#11211e,
    teritary-bg-color: #11211e,
    primary-border-color:#11211e,
    primary-text-color:white,
    secondary-text-color:#8b949e,
    teritary-text-color: #8b949e,
    box-shadow-color:#0e243b,
    scrollbar-bg-color: #211919,
    scrollbar-color: #1f1616,
    light-visibility: hidden,
    dark-visibility: visible,
);

$themes:(
    light: $light,
    dark: $dark,
)