@import "@/styles/_themify.scss";

.ant-statistic-content {
    justify-content: flex-end !important;
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
}

.ant-statistic-content-value {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ant-statistic-content-suffix {
    font-size: 16px;
}

.ant-divider {
    @include themify {
        border-block-start: 1.5px solid themed('primary-border-color') !important;
    }
}

.layout-footer .ant-qrcode {
    padding: 4px !important;
}

.article-content .ant-typography {
    margin-top: 0.5em;
    text-align: center;
}

.basic-card .ant-typography:first-of-type {
    margin-top: -6px;
    margin-bottom: 24px;
}

.basic-card .ant-typography {
    margin-bottom: 24px;
}

.ant-statistic-content-suffix {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ant-tabs-nav-operations {
    height: 0px;
    visibility: hidden;
}

.ant-menu-light {
    background: transparent;
}

.search-modal .ant-modal-content {
    padding: 0px 12px 12px 12px;
}

.ant-dropdown {
    pointer-events: auto !important;
    opacity: 1 !important;
}

.slide-up-enter, .slide-up-appear {
    animation-duration: 0s !important;
}

.product-detail-countdown .ant-statistic-content {
    justify-content: flex-start !important;
}